*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
html, body{
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
background-color: #252323;
}
.container{
    background-color: #292727;
    border-radius: 50%;
    border: 26px solid rgba(159, 159, 159, 0.699);
    box-shadow: -2px -2px 20px #ffffffb8,
        8px 8px 20px 10px #000;
}
.dial{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 460px;
    width: 460px;
    position: relative;
    outline: 25px solid #252323;
    border: 2px solid #a10000;
    border-radius: 50%;
    box-shadow: 
                inset -10px -10px 20px #ffffff4d,
                inset 10px 10px 30px #000;
}
span{
    position: absolute;
    transform: rotate(calc(30deg * var(--angle)));
    inset: 15px;
    text-align: center;
    color: #e1e1e1;
}
b{
    position: absolute;
    font-size: 20px;
    transform: rotate(calc(-30deg* var(--angle)));
}
.center{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #ff0000;
    position: absolute;
}
.hands b{
    position: absolute;
    height: var(--h);
    width: var(--w);
    background-color: var(--bg);
    border-radius: 100%;
}
.hands{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}