* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #141414;
    color: #ffffffe4;
    position: relative;
}

nav {
    background-color: #ef6c00;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 1.4rem;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 0px 10px 5px #000;
    top: 0px;
    position: fixed;
    width: 100%;
}

.logo {
    height: 50px;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 10px;
    list-style: none;
    height: calc(100vh - 60px);
    background-color: #1b1b1b;
    width: 100px;
    position: fixed;
    top: 60px;
    right: 0px;
    display: none;
    transition: all 5s linear;
}

.vertical-menu {}

.vertical-menu li {
    font-style: italic;
    cursor: pointer;
}

.content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 60px;
}