*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
html, body{
height: 100%;
width: 100%;
}
body, main{
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    flex-direction: column;
}
.count{
    font-size: 100px;
    font-weight: 700;
    background: radial-gradient(#ff0000 , #ffff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
button{
    padding: 4px 8px;
    cursor: pointer;
}
h1{
    background: linear-gradient(45deg, #ff00c3, #00e1ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: bold;
}
.wrapper{
    margin-bottom: 12px;
}
#custom-add{
    padding: 3px 7px;
    outline: none;
}